Нужны переменные.

Общие:
- папка проекта в каталоге `projects`. Например, hlaclub.com
- название сообщества в котором опубликован пост
- ссылка на страницу сообщества в котором опубликован пост

Для голосовалки:
- id поста для редактирования, передачи в `votepost()` и т.п.
- счетчик лайков
- счетчик дизлайков

<!-- {$post[header]} -->

<header class="main__header">
  <ul class="main__eyebrow">
    <li>
      <figure class="avatar">
        <img src="{$postuser[avatarbox]}" alt="{$username}">
      </figure>
      <a href="/user/{$user_id}">
        {$username}
      </a>
    </li>
    <li>
      <time datetime="{$postdate}">{$postdate}</time>
    </li>
    {#
    <li data-tooltip="Published on community">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="/projects/hlaclub.com/images/base/graphics/sprite.svg#icon-group"></use>
      </svg>
      <a href="/path/to/community/page">
        {{ Название сообщества }}
      </a>
    </li>
    #}
  </ul>

  <h1>
    {$post[title]}
    {$post[approveinfo]}
  </h1>
</header>

<!-- {$post[rating]} -->
<li>
  <button class="btn is-like" type="btn" aria-label="Like" onclick="votepost(  {{ post_id }}, 1  )">
    <span id="postpluscount">{{ like_counter }}</span>
  </button>
</li>
<li>
  <button class="btn is-like" type="btn" aria-label="Like" onclick="votepost(  {{ post_id }}, 0 )">
    <span id="postminuscount">{{ dislike_counter }}</span>
  </button>
</li>
<li>
  <a class="btn is-ghost" href="/donate?touserid={$user_id}" target="_blank" rel="noopener noreferrer">
    <svg class="icon" aria-hidden="true" focusable="false">
      <use href="/projects/{{ domain }}/images/base/graphics/sprite.svg#icon-group"></use>
    </svg>
    <span class="sr-only">Donate</span>
  </a>
</li>

<!-- {$postedit} -->

<a class="btn is-ghost" href="/en/editpost/{{ post_id }}">
  <svg class="icon" aria-hidden="true" focusable="false">
    <use href="/projects/{{ domain }}/images/base/graphics/sprite.svg#icon-edit"></use>
  </svg>
  <span>Edit</span>
</a>

<!-- Также неплохо было бы заменить тяжелый и плохо настраиваемый сервис расшаривания Addthis на пользовательские ссылки. Подумай, как это можно было бы сделать со стороны бекэнда. На фронтэнде нужна только URL страницы -->

<button class="btn is-social-vk" data-href="http://vk.com/share.php?url={{ post/link }}" aria-label="Вконтакте">
  <svg class="icon" aria-hidden="true">
    <use xlink:href="/assets/img/base/icons/sprite.svg#icon-brand-vk"></use>
  </svg>
</button>
