<article class="teaser">
  <picture class="teaser__picture">
    <!--
    Если есть возможность делать набор из 4 картинок под разные экраны было бы супер.
    104*104 — для телефонов,
    208*208 — для телефонов с «ретиной»
    288*288 — для таблеток и компов
    576*576 — для таблеток и компов с «ретиной».
    Если геммор, тогда просто вместо `picture` сделай figure.teaser__picture>img
    -->
    <source media="(max-width: 767px)" srcset="{{ post.thumbnail }}-sm.jpg, {{ post.thumbnail }}-sm@2x.jpg 2x">
    <img src="{{ post.thumbnail }}.jpg" srcset="{{ post.thumbnail }}@2x.jpg 2x" alt="Заголовок">
  </picture>

  <div class="teaser__content">
    <header class="teaser__eyebrow">
      <figure class="avatar">
        <img src="{{ user.avatar }}" alt="{{ user.full_name }}">
      </figure>
      <a href="teaser__user" href="/path/to/user/page">
        {{ user.full_name }}
      </a>
      {# в атрибуте datetime дата должна быть в формате `2022-05-15 19:00`;
      значения тега time - в формате `15 мая` #}
      <time datetime="{{ post.datetime }}">{{ post.date }}</time>
    </header>
    <h2 class="teaser__heading">
      <a href="{{ post.link }}">
        {{ post.heading }}
      </a>
    </h2>
    {# post.summary = первый абзац статьи #}
    <p class="teaser__summary">{{ post.summary }}</p>
    <footer class="teaser__stats">
      <ul>
        <li class="teaser__like" data-tooltip="Like">{{ post.likes.count }}</li>
        <li class="teaser__dislike" data-tooltip="Dislike">{{ post.dislikes.count }}</li>
        <li class="teaser__comments" data-tooltip="Comments">
          <svg class="icon" aria-hidden="true" focusable="false">
            <!-- project.domain = 'hlaclub.com' -->
            <use href="/projects/{{ project.domain }}/images/base/graphics/sprite.svg#icon-message"></use>
          </svg>
          <span>{{ post.comments.count }}</span>
        </li>
        <li class="teaser__dislike" data-tooltip="Reposts">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/projects/{{ project.domain }}/images/base/graphics/sprite.svg#icon-repost"></use>
          </svg>
          <span>{{ post.reposts.count }}</span>
        </li>
      </ul>
    </footer>
  </div>
</article>
