{# Text input (.input/.form__item container should be added explicit)
In the field IDs, we do not use the `form-` prefix #}
{% macro input(label, name, value, type = "text", label_class = false, alert = false) %}
  <label
    {% if label_class %}class="{{ label_class }}"{% endif %}
    for="{{ name }}"
  >
    {{ label|e }}
  </label>
  <input
    id="{{ name }}"
    name="{{ name }}"
    type="{{ type }}"
    value="{{ value|e }}"
  >
  {% if alert %}
    <div class="form__alert">
      {{ alert|e }}
    </div>
  {% endif %}
{% endmacro %}

{# Text area #}
{% macro textarea(label, name, value, label_class = false, rows = 10, cols = 40) %}
  <label
    {% if label_class %}class="{{ label_class }}"{% endif %}
    for="{{ name }}"
  >
    {{ label|e }}
  </label>
  <textarea
    id="{{ name }}"
    name="{{ name }}"
    rows="{{ rows }}"
    cols="{{ cols }}"
  >{{ value }}</textarea>
  {# Keep closing tag on the value line to prevent prettier `bracketSameLine` issue #}
{% endmacro %}

{# Search #}
{% macro search(id, search_label = 'Search for jobs') %}
<input
  {% if id %}id="{{ id }}"{% endif %}
  name="blogsearch"
  type="search"
  dir="auto"
  autocomplete="off"
  value=""
  aria-label="{{ search_label |trans}}"
  placeholder="{{ search_label |trans}}"
>
{% endmacro %}

{# Checkbox #}
{% macro checkbox(
  label,
  name,
  counter = false,
  id_modifier = false,
  label_modifier = false
  ) %}

  <label class="form__item has-option {% if label_modifier %} {{ label_modifier }}{% endif %}">
    <input
      id="{% if id_modifier %}{{ id_modifier }}-{% endif %}{{ name }}"
      name="{{ name }}"
      type="checkbox"
    >
    <span>{{ label }}</span>
    {% if counter %}<span class="form__counter">{{ random(120) + 4 }}</span>{% endif %}
  </label>
{% endmacro %}

{# Radio #}
{% macro radio(
  label,
  name,
  value,
  id_modifier = false,
  checked = false
  ) %}

  <label class="form__item has-option">
    <input
      id="{% if id_modifier %}{{ id_modifier }}-{% endif %}{{ name }}-{{ value }}"
      name="{{ name }}"
      type="radio"
      value="{{ value }}"
      {% if checked %}checked{% endif %}
    >
    <span>{{ label }}</span>
  </label>
{% endmacro %}

{# Modal window #}
{% macro modal(id, title, body, footer, footer_class) %}
  <section class="modal fade" id="modal-{{ id }}" role="dialog" aria-labelledby="modal-{{ id }}-title" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal__box">
        <div class="modal__header">
          <h2 class="modal__title" id="modal-{{ id }}-title">
            {% apply trans|raw %}{{ title }}{% endapply %}
          </h2>
          <button class="btn is-close" type="button" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
            {% include "base/icon.twig" with {name: "x-mark"} %}
          </button>
        </div>
        <div class="modal__body">
          {% apply trans|raw %}
            {{ body }}
          {% endapply %}
        </div>
        {% if footer %}
        <div class="modal__footer{% if footer_class %} {{ footer_class }}{% endif %}">
          {% apply trans|raw %}
            {{ footer }}
          {% endapply %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endmacro %}
